<!DOCTYPE html>
<html>
<head>
  <title>Development task manager</title>
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,900|Source+Serif+Pro:400,600,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css" media="screen" title="no title" charset="utf-8">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <main>

  <header>
    <%= image_tag "dev-logo.svg" %>
  </header>

  <% flash.each do |type,message| %>
  <div class="alert flash <%= type %>">
    <%= message %>
  </div>
  <% end %>
<%= yield %>


  </main>
  <footer class="footp">
    <p>
    <a href="https://github.com/Lin-dev/dev-task-app">Dev-tasks</a> copyright 2016
    </p>
</footer>
</body>
</html>
