<!DOCTYPE html>
<html>
<head>
  <title>Development task manager</title>
  <link rel="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css" href="/css/master.css" media="screen" title="no title" charset="utf-8">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <main>

  <header>
    <%= image_tag "dev-logo.svg" %>
  </header>

<%= yield %>

    <footer>
      <p>
      <a href="https://github.com/Lin-dev/dev-task-app">Dev-tasks</a> copyright 2016
      </p>
  </footer>
  </main>
</body>
</html>
